/* Login page main  */
.login-wrapper {
    min-height: 100vh !important;
    height: 100%;
    background-color: var(--white);
}

.login-wrapper .logo {
    border-color: #ccc !important;
}

.login-wrapper .logo img{
    width: 142px;
}

.login-wrapper .auth h3,
.login-wrapper .mail h3 {
    font-size: 14px;
    font-weight: bold;
}
/* Auth */
.login-wrapper .auth button {
    border: navajowhite;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    min-width: 400px;
    text-transform: uppercase;
}

.login-wrapper .auth button.fb {
    background: #3a61b3;
}

.login-wrapper .auth button.go {
    background: var(--black);
}

.login-wrapper .auth button p {
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
}

/* Mail */

.mail {
    min-width: 400px;
}

.mail label {
    font-size: 12px;
    font-weight: bold;
}

.mail input {
    padding: 5px;
    font-size: 12px;
}

.mail input[type = 'submit'] {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
}

.mail .tools .forget,
.mail .tools .signup {
    color: var(--gray);
    font-size: 12px;
    font-weight: bold;
}